* {
    box-sizing: border-box;
}

.content {
    height: 500px;
}

body {
    background-color: black
}

.border {
    border: 1px solid red;
    margin-top: 10px;
    margin-bottom: 10px;
}

.grid {
    min-height: 25px;
}
  
.grid--wrap {
    flex-wrap: wrap;
}

[class^="grid-item"]:not([class*=" "]) {
    min-height: 120px;
    background-color: blue;
    border: 1px solid yellow;
}

.grid-item25 {
    flex: 0 0 25%;
}

.grid-item50 {
    flex:0 0 50%;
}

.grid-item75 {
    flex:0 0 75%;
}

.grid-item100 {
    flex:0 0 100%;
}

/* Align the grid items horizontally */
.align-content-right {
    justify-content: flex-end;
}

/* Align individuals vertically */
.align-item-top {
    align-items: flex-start;
}

.align-item-center {
    align-items: center;
}

.align-item-bottom {
    align-items: flex-end;
}

/* Component */
.sticky-footer {
    align-self: flex-end;
}

/* Media queries */
@media (width > 380px) {
    .grid {
        display: flex;
    }
}