* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0 auto;
}

html {
    background-color: #081425;
}

h1, h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    line-height: 120%;
    color: #091A32;
}

p {
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    line-height: 50%;
    color: #5E2FD3;
}

.center-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal {
    min-width: 800px;
    width: fit-content;
    background-color: #FFFFFF;
    border: solid 1px #E6E6E6;
    border-radius: 20px;
    padding-top: 27.5px;
    padding-bottom: 27.5px;
}

.modal--fullscreen {
    min-width: 100vw;
    width: 100vw;
    height: 100vh;
    border-radius: 0%;
}

.modal__buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}