* {
    box-sizing: border-box;
}

.btn {
    outline: none;
    padding: 12px 52px;
    border-radius: 10px;
    font-size: 18px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    color: hsl(213, 100%, 100%);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.45;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn--primary {
    color: white;
    background-color: var(--color-blue);

    &:hover {
        background-color: var(--color-blue-hover);
    }
    
    &:active {
        background-color: var(--color-blue-active);
    }
    
    &:disabled {
        background-color: var(--color-blue-disabled);
        cursor: not-allowed;
    }
}

.btn--secondary {
    border: 2px solid var(--color-blue);
    color: var(--color-blue);

    &:hover {
        border: 2px solid var(--color-blue-hover);
        color: var(--color-blue-hover);
    }
    
    &:active {
        border: 2px solid var(--color-blue-active);
        color: var(--color-blue-active);
    }
    
    &:disabled {
        border: 2px solid var(--color-blue-disabled);
        color: var(--color-blue-disabled);
        cursor: not-allowed;
    }
}

.text-link {
    color: var(--color-blue);
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in;

    &:hover {
        color: var(--color-blue-hover);
    }
    
    &:active {
        color: var(--color-blue-active);
    }
    
    &:disabled {
        color: var(--color-blue-disabled);
    }
}

