* {
    box-sizing: border-box;
}

.font {
    font-family: 'Poppins', sans-serif;
}

.btn {
    padding: 12px 52px 12px 52px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
}

.btn--primary {
    color: white;
    background-color: #1F83FF;

    &:hover {
        background-color: #4D9CFF;
    }
    
    &:active {
        background-color: #085FCA;
    }
    
    &:disabled {
        background-color: #E6E6E6;
    }
}

.btn--secondary {
    outline: 2px solid #1F83FF;
    color: #1F83FF;

    &:hover {
        outline: 2px solid #4D9CFF;
        color: #4D9CFF;
    }
    
    &:active {
        outline: 2px solid #085FCA;
        color: #085FCA;
    }
    
    &:disabled {
        outline: 2px solid #E6E6E6;
        color: #E6E6E6;
    }
}

.text-link {
    color: #1F83FF;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in;

    &:hover {
        color: #4D9CFF;
    }
    
    &:active {
        color: #085FCA;
    }
    
    &:disabled {
        color: #E6E6E6;
    }
}

